/* import google font */
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@700&display=swap');

#body{
    font-family: 'Kaisei Tokumin', serif !important;
    height: 100%;
    width: 100%;
}
h2, p{
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
h2{
    font-size: 2.5em !important;
}
#default{
    font-family: 'Dancing Script', cursive;
}
button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
#new-colorSet{
    height: 25%;
    width: 25%;
    padding:5px 14px;
}
/* initial color of the buttons */
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#cyan{
    background-color: cyan;
}
#yellow{
    background-color: yellow;
}
/* -----------------
     Media Queries
-------------------- */
/* Responsiveness for Mobile Devices */

@media only screen and (max-width:1050px) {
    #new-colorSet{
        height: 10%;
        width: 40%;
        margin-bottom: 20px;
    }

}
@media only screen and (max-width:720px) {
    #new-colorSet{
        height: 10%;
        width: 70%;
        margin-bottom: 20px;
    }

}